<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.impulsiveweb.galleryview">

    <application>
        <activity
            android:name=".GalleryViewActivity"
            android:label="@string/title_activity_gallery_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>